.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: aquamarine;
}

.card {
  flex: 0 1 calc(25% - 1em); /* Four items per row */
  box-sizing: border-box;
  margin: 2px;
  border: 3px solid #150606;
  
 
  border-radius: 8px;
  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: #f9f9f9;
  margin-top: 20px;
  margin-bottom: 20px;
}
